.main {
    background-color: #131A28;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}