.main {
    background-color: #131A28;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}


.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.jc-center {
    justify-content: center;
}

.clear-btn{
    border: none;
    margin-top: 20px;
    padding: 8px;
    border-radius: 5px;
    color: #131A28;
    font-weight: bold;
}
.clear-btn:hover{
    cursor: pointer;
    padding: 10px;
}


/* .b-bottom-right {
    border-right: 15px solid #1CDBF5;
    border-bottom: 15px solid #1CDBF5;
}

.b-bottom {
    border-bottom: 15px solid #1CDBF5;
}

.b-right {
    border-right: 15px solid #1CDBF5;
} */